@page "/notifications"
@using HtmlNotificationsPoc.Configuration
@using Microsoft.Extensions.Options

@inject IHttpClientFactory _httpClientFactory
@inject IJSRuntime JS;
@inject IOptionsSnapshot<PushNotificationOptions> _notificationsConfig;

<h3>Notifications</h3>
<h4>Browser checks: </h4>
<p>HTML5 Notifications Supported: @_notificationsSupported</p>
<button @onclick="SubscribeAsync">Subscribe to Notifications</button>

@code {
    private bool _notificationsSupported = false;
    private IJSObjectReference _notificationsJs;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _notificationsJs = await JS.InvokeAsync<IJSObjectReference>("import", @"./Pages/Notifications.razor.js");

        if (firstRender)
        {
            await _notificationsJs.InvokeVoidAsync("RegisterServiceWorker");

            var publicKey = _notificationsConfig.Value.PublicKey;

            await _notificationsJs.InvokeVoidAsync("Subscribe", publicKey);
        }
    }

    private async Task SubscribeAsync()
    {
    }

    private async Task RequestUserPermissionAsync()
    {
    }
}
