@page "/sendnotification"

@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager _navigationManager

<h3>Send Notification</h3>
<button @onclick="SendNotificationAsync">Send</button>

@code {
    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(_navigationManager.ToAbsoluteUri("/notifications"))
            .Build();

        await _hubConnection.StartAsync();
    }

    private async Task SendNotificationAsync()
    {
        await _hubConnection.SendAsync("SendMessage");
    }
}
